@model EscritorioAdvocacia.Models.Processo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Processo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroUnificado" class="control-label"></label>
                <input asp-for="NumeroUnificado" class="form-control" />
                <span asp-validation-for="NumeroUnificado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusAndamento" class="control-label"></label>
                <input asp-for="StatusAndamento" class="form-control" />
                <span asp-validation-for="StatusAndamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoAndamento" class="control-label"></label>
                <input asp-for="DescricaoAndamento" class="form-control" />
                <span asp-validation-for="DescricaoAndamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAbertura" class="control-label"></label>
                <input asp-for="DataAbertura" class="form-control" />
                <span asp-validation-for="DataAbertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdvogadoId" class="control-label"></label>
                <select asp-for="AdvogadoId" class ="form-control" asp-items="ViewBag.AdvogadoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoProcessoId" class="control-label"></label>
                <select asp-for="TipoProcessoId" class ="form-control" asp-items="ViewBag.TipoProcessoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VaraOrigemId" class="control-label"></label>
                <select asp-for="VaraOrigemId" class ="form-control" asp-items="ViewBag.VaraOrigemId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
