@{
    ViewData["Title"] = "Página Inicial";
}

<div class="jumbotron" style="background-color: #212529; padding: 4rem 2rem;">
    <h1 class="display-4">Bem-vindo(a) ao Escritório de Advocacia</h1>
    <p class="lead">Especialistas em Direito Cível e Trabalhista, dedicados a encontrar a melhor solução para você.</p>
    <hr class="my-4">
    <p>Nossa equipe está pronta para atendê-lo com excelência e transparência.</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Nossa Missão</h3>
            <p>Fornecer assessoria jurídica de alta qualidade, pautada pela ética e pelo compromisso com os resultados de nossos clientes. Acreditamos em uma advocacia moderna e acessível.</p>
            <p><small>Utilize este portal para fazer login e acompanhar seus processos ou sua agenda.</small></p>
        </div>

        <div class="col-md-6">
            <h3>Informações de Contato</h3>
            <p>
                <strong>Endereço:</strong> Rua, 123 - Centro<br>
                Cidade/Estado: Cidade, Estado
            </p>
            <p><strong>Telefone:</strong> (18) 99999-8888</p>
            <p><strong>E-mail:</strong> contato@seu-escritorio.com</p>
        </div>
    </div>
</div>