@{
    ViewData["Title"] = "Acesso Negado";
}
<h1 class="text-danger">Acesso Negado</h1>
<p class="text-danger">
    Sua conta de usuário (login) ainda não foi associada a um perfil de Cliente pelo administrador do sistema.
    <br />
    Por favor, contate o Administrador.
</S>
