@model EditRolesViewModel
@{
    ViewData["Title"] = "Editar Permissões";
}

<h1>Editar Permissões para @Model.UserEmail</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="EditRoles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="UserEmail" />

            <div class="card">
                <div class="card-header">
                    Atribuir permissões
                </div>
                <div class="card-body">
                    @for (int i = 0; i < Model.Roles.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="Roles[i].RoleId" />
                            <input type="hidden" asp-for="Roles[i].RoleName" />

                            <input asp-for="Roles[i].IsSelected" class="form-check-input" />

                            <label class="form-check-label" asp-for="Roles[i].IsSelected">
                                @Model.Roles[i].RoleName
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>