@model IEnumerable<ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Gerenciar Usuários";
    var currentUserId = UserManager.GetUserId(User);
}

<h1>Gerenciar Usuários e Permissões</h1>
<table class="table">
    <thead>
        <tr>
            <th>Email (Login)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="EditRoles" asp-route-id="@user.Id">
                        Editar Permissões
                    </a>

                    @if (user.Id != currentUserId)
                    {
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@user.Id">
                            Deletar
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>